<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.ttbox.androgister"
    android:versionCode="9"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />

    <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->

    <uses-permission android:name="eu.ttbox.androgister.OFFER_READ" />
    <uses-permission android:name="eu.ttbox.androgister.OFFER_WRITE" />
    <uses-permission android:name="eu.ttbox.androgister.ORDER_READ" />
    <uses-permission android:name="eu.ttbox.androgister.ORDER_WRITE" />
    <uses-permission android:name="eu.ttbox.androgister.PERSON_READ" />
    <uses-permission android:name="eu.ttbox.androgister.PERSON_WRITE" />

    <uses-feature android:name="android.hardware.usb.accessory" />

    <application
        android:name="AndroGisterApplication"
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >

        <!-- Home -->
        <activity
            android:name=".AndroGisterActivity"
            android:label="@string/app_name" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- Preference -->
        <activity
            android:name=".ui.config.MyPreferencesActivity"
            android:label="@string/app_name" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- Register -->
        <activity
            android:name=".ui.CashRegisterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="eu.ttbox.androgister.intent.ADD_BASKET" /> -->
            <!-- <action android:name="eu.ttbox.androgister.intent.ACTION_SAVE_BASKET" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- Order -->
        <activity
            android:name=".ui.order.OrderEditActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.order.OrderListActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Person -->
        <activity
            android:name=".ui.person.PersonListActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_person" />
        </activity>

        <!-- Admin   android:theme="@android:style/Theme.Holo.Light.Dialog" -->
        <activity
            android:name=".ui.admin.user.UserAdminActivity" 
            android:label="@string/app_name"  > 
        </activity>
        <activity
            android:name=".ui.admin.user.UserEditActivity" 
            android:label="@string/app_name"  > 
        </activity>
        
        
        <!-- Service -->
        <service
            android:name=".service.OrderService"
            android:exported="false" >
            <intent-filter>
                <action android:name="eu.ttbox.androgister.intent.ACTION_ORDER_ADD" />
            </intent-filter>
        </service>
        <service
            android:name=".service.UsbService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
        </service>

        <!--  Provider  -->
        <provider
            android:name=".database.OfferProvider"
            android:authorities="eu.ttbox.androgister.searchableoffer.OfferProvider"
            android:readPermission="eu.ttbox.androgister.OFFER_READ"
            android:writePermission="eu.ttbox.androgister.OFFER_WRITE" />
        <provider
            android:name=".database.PersonProvider"
            android:authorities="eu.ttbox.androgister.searchableperson.PersonProvider"
            android:readPermission="eu.ttbox.androgister.PERSON_READ"
            android:writePermission="eu.ttbox.androgister.PERSON_WRITE" />
        <provider
            android:name=".database.OrderProvider"
            android:authorities="eu.ttbox.androgister.searchableorder.OrderProvider"
            android:readPermission="eu.ttbox.androgister.ORDER_READ"
            android:writePermission="eu.ttbox.androgister.ORDER_WRITE" />
        <provider
            android:name=".database.UserProvider"
            android:authorities="eu.ttbox.androgister.searchableuser.UserProvider"
            android:readPermission="eu.ttbox.androgister.USER_READ"
            android:writePermission="eu.ttbox.androgister.USER_WRITE" />
        
    </application>

</manifest>