<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="9" android:versionName="0.0.1" package="eu.ttbox.androgister">

    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="16"/>

    <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->

    <uses-permission android:name="eu.ttbox.androgister.OFFER_READ"/>
    <uses-permission android:name="eu.ttbox.androgister.OFFER_WRITE"/>
    <uses-permission android:name="eu.ttbox.androgister.ORDER_READ"/>
    <uses-permission android:name="eu.ttbox.androgister.ORDER_WRITE"/>

    <uses-feature android:name="android.hardware.usb.accessory"/>

    <application android:debuggable="true" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="AndroGisterApplication" android:theme="@style/MyTheme">

        <!-- Home -->
        <activity android:label="@string/app_name" android:name=".AndroGisterActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- Preference -->
        <activity android:label="@string/app_name" android:name=".ui.config.MyPreferencesActivity">
<!--             <intent-filter> -->
<!--             <action android:name="android.intent.action.MAIN" /> -->
<!--             <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <!-- Register -->
        <activity android:label="@string/app_name" android:name=".ui.CashRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/> 
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="eu.ttbox.androgister.intent.ADD_BASKET" /> -->
            <!-- <action android:name="eu.ttbox.androgister.intent.ACTION_SAVE_BASKET" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- Order -->
        <activity android:label="@string/app_name" android:name=".ui.order.OrderEditActivity">
        </activity>
        <activity android:label="@string/app_name" android:name=".ui.order.OrderListActivity">
        </activity>

        <!-- Person -->
        <activity android:label="@string/app_name" android:name=".ui.person.PersonListActivity">
        </activity>

        <!-- Service -->
        <service android:exported="false" android:name=".service.OrderService">
            <intent-filter>
                <action android:name="eu.ttbox.androgister.intent.ACTION_ORDER_ADD"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name=".service.UsbService">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"/>
            </intent-filter>
        </service>

        <!-- Provider -->
        <provider android:authorities="eu.ttbox.androgister.searchableoffer.OfferProvider" android:name=".database.OfferProvider" android:readPermission="eu.ttbox.androgister.OFFER_READ" android:writePermission="eu.ttbox.androgister.OFFER_WRITE"/>
        <provider android:authorities="eu.ttbox.androgister.searchableperson.PersonProvider" android:name=".database.PersonProvider" android:readPermission="eu.ttbox.androgister.PERSON_READ" android:writePermission="eu.ttbox.androgister.PERSON_WRITE"/>
        <provider android:authorities="eu.ttbox.androgister.searchableorder.OrderProvider" android:name=".database.OrderProvider" android:readPermission="eu.ttbox.androgister.ORDER_READ" android:writePermission="eu.ttbox.androgister.ORDER_WRITE"/>
    </application>

</manifest>